body, html{
	margin:0;
}
body *{
	box-sizing:border-box;
}


/* -------------------------- Seitenleiste / Menü -------------------------- */
aside{
	background-color:#302D2D;
	position:fixed;
	float:left;
	height: 100%;
	width:150px;
	left:0px;
	top:0px;
}

menu{
	position:static;
	float:left;
	width:150px;
	margin:0px;
	padding:0px;
	margin-right: 0px;


}

menu li a{
	text-decoration: none;
	width:100%;
	padding:10px;
	display:block;
	color: #888888;

}

menu li a:hover{
	background: #545050;
}

menu li a:active{
	background:#6D6A6A;
}

menu li a.active {
    background: #262424;
}

menu h2{
	    background: #141313;
    	color: rgb(255,255,255);
    	margin:0px;
    	padding:10px;
    	height:50px;
    	font-size: 24px;

}
/* -------------------------- Rechte Seite / Tabelle -------------------------- */
header{
	padding-left:170px;
	width:100%;
	margin-right: 0px;
	padding-right: 20px;
	height:50px;
	text-align: right;
	background: #444343;
	float:right;
}

header h1{
	color:#FFF;
	margin-top:0px;
	font-size: 24px;
	line-height: 50px;
}

/* main */


main{
   clear: right;
    float: right;
    height: auto;
    overflow: hidden;
    left: 150px;
    top: 50px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    width: auto;
}

main > section{
	position: absolute;
	width:100%;
	height:100%;
	padding:20px;
	top:100%;
	background-color: #FFF;
	z-index: 5;
}

main > section.active{
	top:0px;
	z-index:6;
}

/* Tabellen */

table{
	text-align: :left;
	border: 1px solid #EEECEC;
	width:100%;
}
table thead {
    background: #2EA2CC;
    color: rgb(255,255,255);
}

table th{
	padding: 3px 5px;
    border-right: 1px solid #EECEC;
}
table td{
	border-right: 1px solid #EEECEC;
	padding: 3px 5px;
	overflow: hidden;
}
table tr {
	width: 100%;
}

table tbody tr:hover{
	background:#B8DBBA;
}



/*-------------------Buttons-------------------------*/


#status-overview input.start, #status-overview input.stop {
    background: #A3B745;
}

#status-overview input.stop {
    background: #EA5340;
    margin-right: 0px;
}